## cronitorcli.conf - optional parameters specific to your environment

# cronitorcli expects this file at:
# ${PWD}/cronitorcli.conf
# or
# ${HOME}/.cronitorcli.conf

# Cronitor user API key (available at https://cronitor.io/settings)
#user_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Slack API (web hook)
#slack_whook=https://hooks.slack.com/services/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
